// COLORS
$color-black: #272727;
$color-white: #FFFFFF;
$color-light-grey: #EEEEEE;
$color-grey: #606060;
$color-dark-grey: #303030;
$color-link: #981ceb;
$color-code: #EE82EE;
$color-hire-white: #FEFEFE;
$color-hire-black: #272727;
$color-hire-green: #B6EFD4;
$color-hire-blue: #A0CCDA;
$color-hire-shadow: rgba(0, 0, 0, 0.2);

// BREAKPOINTS
$br: 600px;
